<div class="container">
  <app-profile-header></app-profile-header>

  <div class="divider"></div>

  <div class="tabs" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2em">
    <span class="tab active">貼文</span>
    <span class="tab">推薦</span>
    <span class="tab">REELS</span>
  </div>

  <div class="card-container">
    <app-post-mini-card></app-post-mini-card>
    <app-post-mini-card></app-post-mini-card>
    <app-post-mini-card></app-post-mini-card>
    <app-post-mini-card></app-post-mini-card>
  </div>
</div>
